.hihi{
        background-color:rgb(37, 150, 190)
}
.ảnh{
    height: 30%;
    width: 40%;
    border-left: -20px;
}
{
    
}
#huyen-black{
    color: #333;
}
.huyen-blue{
    color:blue;
}

